@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-amber-400 text-black font-bold py-4 px-8 rounded-full hover:bg-amber-300 transition shadow-lg;
  }
  .card {
    @apply bg-white rounded-2xl shadow-xl p-8 border border-gray-100;
  }
}
